body, h1, h2, h3, h4, h5, p, ul, li {
  margin: 15px;
  padding: 25px;
}

body {
  background-color: #272822;
  font-family: Monaco, Consolas, 'Courier New', monospace;
  margin: 0;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header, .head {
  text-align: center;
  padding-bottom: 30px;
}

nav {
  margin-bottom: 15px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #F8F8F2;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 100px;
  margin-left: 50px;
}

nav a:hover {
  color: #FD971F;
}

nav {
  border: 0px solid #FD971F; 
  padding: 5px; 
}

nav a {
  text-decoration: none;
  margin: 0 10px; 
  color: #F8F8F2;
}

main {
  padding: 30px;
}

section, #personal-info, .head {
  padding-bottom: 30px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

section:hover, #personal-info:hover, .head:hover {
  background-color: #49483E;
  color: #F8F8F2;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

h1, h3, h5 {
  color: #FD971F;
}

h2 {
  color: #A6E22E;
  margin-bottom: 15px;
}

p {
  color: #E6DB74;
  margin-bottom: 15px;
}

ul {
  list-style-type: circle;
  color:#E6DB74;
  padding: 0;
}

strong {
  font-weight: bold;
}

footer {
  background-color: #272822;
  color: #F8F8F2;
  padding: 25px;
  text-align: center;
}

#profiles {
  margin: 25px;
}

#profiles a {
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: #F8F8F2;
}

#profiles img {
  vertical-align: middle;
  border-radius:20%;
  opacity: 55%;
}

footer p {
  margin-top: 25px;
  font-size: 16px;
}

.profile-link {
  display: inline-block;
  margin: 15px;
  text-align: center;
}

.profile-link a {
  text-decoration: none;
  color: #75715E;
  transition: color 0.3s;
}

.profile-link img {
  width: 60px;
  height: 40px;
  transition: transform 0.3s ease-out;
}

.profile-link img:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  header, .head {
      text-align: center;
  }
  .head img {
      display: block;
      margin: 0 auto;
  }
  main {
      padding: 15px;
  }
  article {
      margin-bottom: 25px;
  }
}

@media (max-width: 480px) {
  .head h1 {
      font-size: 24px;
  }
  nav {
      text-align: center;
  }
  footer {
      text-align: center;
      padding: 15px;
  }
  .profile-link {
      display: block;
      text-align: center;
      margin: 15px auto;
  }
}

#skills ul {
  list-style: none;
  padding: 0;
  display: vertical;
  justify-content: space-around;
  align-items: center;
}

#skills li {
  text-align: center;
}

#skills img {
  border-radius: 20%;
  opacity: 55%;
}

.ABOUTME{
  color:#E6DB74;
}

header img{
  opacity: 55%;
}