body, h1, h2, h3, h4, h5, p, ul, li {
  margin: 15px;
  padding: 45px;
  color: #fff; /* Set text color to white */
}

body {
  background: rgb(58,63,77);
  background: linear-gradient(69deg, rgba(58,63,77,1) 0%, rgba(13,20,41,1) 100%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

 .head {
  text-align: center;
  padding: 20px;
}

nav {
  margin-bottom: 15px;
  text-align: center;
}

nav a {
  text-decoration: navajowhite;
  color: #F8F8F2;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 15px;
  margin-left: 10px;
}

nav a:hover {
  color: #A6E22E;
}

nav {
  padding: 5px;
}

nav a {
  text-decoration: navajowhite;
  margin: 15px 35px;
}

main {
  padding: 45px;
}

.personal-info, .head {
  text-align: center;
  padding-bottom: 45px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

h1{
  font-size: 30px;
  color: #FD971F;
}

 h3, h5 {
  color: #FD971F;
  font-size: 18px;
}

h2 {
  color: #A6E22E;
  margin-bottom: 15px;
  font-size: 18px;
}

p {
  color: #E6DB74;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.6;
}

ul {
  list-style-type: circle;
  color: #E6DB74;
  padding: 20px;
}

strong {
  font-weight: bold;
}

footer {
  color: #F8F8F2;
  text-align: center;
}

#profiles {
  margin: 25px;
}

#profiles a {
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: #F8F8F2;
}

#profiles img {
  vertical-align: middle;
  border-radius: 10%;
}

footer p {
  margin-top: 25px;
  font-size: 16px;
}

.profile-link {
  display: inline-block;
  margin: 15px;
  text-align: center;
}

.profile-link a {
  text-decoration: none;
  color: #75715E;
  transition: color 0.3s;
}

.profile-link img {
  width: 80px;
  height: 40px;
  transition: transform 0.3s ease-out;
}

.profile-link img:hover {
  transform: scale(1.2);
}

.skills ul {
  list-style: none;
  padding: 0;
  display: vertical;
  justify-content: space-around;
  align-items: center;
}

.skills li {
  text-align: center;
}

.skills img {
  border-radius: 20%;
}

.ABOUTME {
  color: #E6DB74;
  text-align: left;
  font-size: medium;
}

.head img {
  border-radius: 30%;
  opacity: 60%;
}

.Title {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.education {
text-align: center;
}

.work-experience {
text-align: center;
}

.bio {
text-align: center;
}

a{
   text-decoration: none;
   color: #FD971F;
}

a:hover {
  color: #A6E22E;
}


/* Add media query for mobile */
@media (max-width: 800px) {
  nav {
    margin-bottom: 10px;
  }

  nav a {
    margin-right: 10px;
    margin-left: 15px;
    font-size: xx-small;
  }

  #profiles img {
    width: 45px;
    height: 25px;
  }

  .profile-link img {
    width: 45px;
    height: 25px;
  }
}

.hire {
  max-width: 600px; 
  margin: 0 auto; 
  padding: 20px;
  border-radius: 10px; 
}

.hire h1 {
  text-align: center;
  color: #FD971F;; 
}


.hire label {
  display: block;
  margin-top: 10px;
  color: #A6E22E; 
}

.hire input[type="text"],
.hire textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.hire input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #3a3f4d; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.hire input[type="submit"]:hover {
  background-color: #1d274f; 
}

.hire textarea {
  resize: vertical; 
}

.hire input[type="submit"] {
  width: 50%; 
  padding: 10px;
  background-color: #A6E22E; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hire input[type="submit"]:hover {
  background-color: #FD971F; 
}






